matplotlib.pyplot
matplotlib==3.1.0
opencv-python
requests
pandas
plost
altair
openpyxl
plotly
dash
json
plotly.express
numpy
tkinter
multiapp
seaborn
streamlit_option_menu
turtle
cProfile  
tarfile
tensorflow




