streamlit_lottie
matplotlib
requests
pandas
plost
altair
openpyxl
plotly
dash
pythonopencv-python
matplotlib.pyplot
json
plotly.express
numpy
tkinter
multiapp
seaborn
streamlit_option_menu
turtle
cProfile  
curses  
tarfile
tensorflow
sqlite3
