streamlit_lottie
matplotlib
requests
pandas
plost
altair
openpyxl
plotly
dash
python
opencv-python
bokeh.models.widgets
matplotlib.pyplot
json
plotly.express
numpy
tkinter
multiapp
seaborn
streamlit_option_menu
turtle
cProfile  
curses  
tarfile
tensorflow
bokeh.models

bokeh
bokeh.models.widgets.markups.Markup
div
bokeh==2.4.3
BOKEH_DEV
