/* Centering text in each gray box */

div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
}

div.css-1v3fvcr.egzxvld1 {
    color: #023334;
}


/* row1 */

div.css-12w0qpk.e1tzin5v2 {
    background-color: goldenrod;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    color: #023334;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    cursor: pointer;
}


/* Move block container higher */

div.block-container.css-18e3th9.egzxvld2 {
    margin-top: -4em;
}


/* Text */

div.css-183lzff.eyqtai90 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: bold;
}

div.css-nlntq9.e16nr0p30 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 130px;
    font: bold;
}


/* IMAGE */

div.css-j5r0tf e1tzin5v2 {
    background-color: #43d6b9;
    border: 2px solid #d7d1d1;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: -5px;
    height: 100px;
    font-size: 15px;
    width: 100px;
}