/* Centering text in each gray box */

div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
}

div.css-1v3fvcr.egzxvld1 {
    color: #023334;
}


/* Header */

div.css-10trblm.e16nr0p33 {
    font-family: Helvetica, Arial, sans-serif;
}


/* columns */

div.css-12w0qpk.e1tzin5v2 {
    background-color: #E6E6E6;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    border: solid;
    color: #023334;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    cursor: pointer;
    background-clip: border-box;
}


/* Move block container higher */

div.block-container.css-18e3th9.egzxvld2 {
    margin-top: -4em;
}


/* Text */

div.css-183lzff.eyqtai90 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: bold;
}

div.css-nlntq9.e16nr0p30 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 130px;
    font: bold;
}


/* IMAGE */

div.css-j5r0tf e1tzin5v2 {
    background-color: #43d6b9;
    border: 2px solid #d7d1d1;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: -5px;
    height: 100px;
    font-size: 15px;
    width: 100px;
}


/* BACKGROUND */

div.css-fg4pbf.eczokvf0 {
    background-color: #E6E6E6
}

div.css-ocqkz7.e1tzin5v0 {
    background-color: #E6E6E6;
    color: black;
    stop-color: #ffffff;
}


/* Image centered */

.fullScreenFrame>div {
    display: flex;
    justify-content: center;
}


/* SIDEBAR */

div.css-zbg2rx.e1fqkh3o1 {
    background-color: #023334;
    color: black
}

div.st-bx.st-cb.st-cc.st-ae.st-af.st-ag.st-ah.st-ai.st-aj {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    list-style: none
}